<<<<<<< HEAD
/* style.css */

body {
    font-family: Garamond, serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

img {
    height: 150px;
    width: 150px;
    float: right;
    margin-left: 20px;
}

hr {
    border-color: green;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

/* Additional styles for specific elements */
h1 {
    text-align: center;
}

h2 {
    color: brown;
}

h3 {
    font-style: italic;
}

/* Adjustments for mobile view */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
    img {
        float: none;
        margin: 0 auto;
        display: block;
    }
=======
/* style.css */

body {
    font-family: Garamond, serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

img {
    height: 150px;
    width: 150px;
    float: right;
    margin-left: 20px;
}

hr {
    border-color: green;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

/* Additional styles for specific elements */
h1 {
    text-align: center;
}

h2 {
    color: brown;
}

h3 {
    font-style: italic;
}

/* Adjustments for mobile view */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
    img {
        float: none;
        margin: 0 auto;
        display: block;
    }
>>>>>>> 8b8e89aab0b36299bff3ee07c8d7ae9c061491ad
}